._2 { border-radius: 3px; }
._4 { border-radius: 4px; }
._8 { border-radius: 8px; }
._16 { border-radius: 16px; }
._24 { border-radius: 24px; }
._32 { border-radius: 32px; }
._50 { border-radius: 50%; }
