.auto_fill_96 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 96px), 1fr)); }
.auto_fill_144 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 144px), 1fr)); }
.auto_fill_192 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 192px), 1fr)); }
.auto_fill_272 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 272px), 1fr)); }
.auto_fill_256 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 256px), 1fr)); }
.auto_fill_320 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 320px), 1fr)); }
.auto_fill_352 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 352px), 1fr)); }
.auto_fill_360 { grid-template-columns: repeat(auto-fill, minmax(min(100%, 360px), 1fr)); }

._1fr_max { grid-template-columns: 1fr max-content; }
.max_1fr { grid-template-columns: max-content 1fr; }
.max_auto { grid-template-columns: max-content auto; }
.max_1fr_max { grid-template-columns: max-content 1fr max-content; }
._1fr_max_max { grid-template-columns: 1fr max-content max-content; }
.min_1fr_min { grid-template-columns: min-content 1fr min-content; }
._1fr_max_1fr { grid-template-columns: 1fr max-content 1fr; }
._1fr_1fr { grid-template-columns: repeat(2, 1fr); }
._1fr_1fr_1fr { grid-template-columns: repeat(3, 1fr); }
._1fr_1fr_1fr_1fr { grid-template-columns: repeat(4, 1fr); }
