._32 { max-width: 32px; }
._40 { max-width: 40px; }
._48 { max-width: 48px; }
._96 { max-width: 96px; }
._144 { max-width: 144px; }
._272 { max-width: 272px; }
._320 { max-width: 320px; }
._480 { max-width: 480px; }
._512 { max-width: 512px; }
._600 { max-width: 600px; }
._648 { max-width: 648px; }
._960 { max-width: 960px; }
._1152 { max-width: 1152px; }
._1440 { max-width: 1440px; }
