._2 { padding: 2px; }
.bottom_2 { padding-bottom: 2px; }
.left_2 { padding-left: 2px; }
.right_2 { padding-right: 2px; }
.top_2 { padding-top: 2px; }

._4 { padding: 4px; }
.bottom_4 { padding-bottom: 4px; }
.left_4 { padding-left: 4px; }
.right_4 { padding-right: 4px; }
.top_4 { padding-top: 4px; }

._8 { padding: 8px; }
.bottom_8 { padding-bottom: 8px; }
.left_8 { padding-left: 8px; }
.right_8 { padding-right: 8px; }
.top_8 { padding-top: 8px; }

._16 { padding: 16px; }
.bottom_16 { padding-bottom: 16px; }
.left_16 { padding-left: 16px; }
.right_16 { padding-right: 16px; }
.top_16 { padding-top: 16px; }

._24 { padding: 24px; }
.bottom_24 { padding-bottom: 24px; }
.left_24 { padding-left: 24px; }
.right_24 { padding-right: 24px; }
.top_24 { padding-top: 24px; }

._32 { padding: 32px; }
.bottom_32 { padding-bottom: 32px; }
.left_32 { padding-left: 32px; }
.right_32 { padding-right: 32px; }
.top_32 { padding-top: 32px; }

._40 { padding: 40px; }
.bottom_40 { padding-bottom: 40px; }
.left_40 { padding-left: 40px; }
.right_40 { padding-right: 40px; }
.top_40 { padding-top: 40px; }

._48 { padding: 48px; }
.bottom_48 { padding-bottom: 48px; }
.left_48 { padding-left: 48px; }
.right_48 { padding-right: 48px; }
.top_48 { padding-top: 48px; }
