._8 { font-size: 8px; }
._10 { font-size: 10px; }
._12 { font-size: 12px; }
._14 { font-size: 14px; }
._16 { font-size: 16px; }
._18 { font-size: 18px; }
._24 { font-size: 24px; }
._32 { font-size: 32px; }
._40 { font-size: 40px; }
._48 { font-size: 48px; }
