.center_with_margins {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.end_with_margins {
  display: block !important;
  margin-left: auto;
  margin-right: 0;
}

.user_select_none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line_clamp {
  display: -webkit-box !important;
  overflow: hidden;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.line_clamp_1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line_clamp_2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line_clamp_3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.filter_brightness_96 {
  filter: brightness(.96);
}

.block {
  display: block;
}

.inline_block {
  display: inline-block;
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  position: relative;
}

.flex {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-flow: wrap;
}

.content {
  margin: 0 auto;
  position: relative;
}

.cursor_pointer {
  cursor: pointer;
}

.cursor_move {
  cursor: move;
}

.text_capitalize {
  text-transform: capitalize;
}

.text_uppercase {
  text-transform: uppercase;
}

.position_relative {
  position: relative;
}

.position_fixed {
  position: fixed;
}

.overflow_hidden {
  overflow: hidden;
}
